# ===================================== #
# UNITY FOLDERS
# ===================================== #
Temp
Library
Obj
obj

# ===================================== #
# Visual Studio / MonoDevelop generated
# ===================================== #
ExportedObj/
*.suo
*.sln
